<table class="profile" summary="Profile Information">
	<tr>
		<td class="main">
			<h1>
				Welcome <%= @user.name %>!
			</h1>
		</td>
		<td class="sidebar">
			<strong>Name</strong> <%= @user.name %><br />
			<strong>URL</strong> <%= link_to user_path(@user), @user %>
		</td>
	</tr>
</table>
<br />
<p>
	Welcome to Through Hunter's Eyes! Now that you are signed in, you can view the user links at the bottom of the page. If you would like to change your user name or password, please click on the Settings link.
</p>


