<h1>About Autism</h1>
<p>
	You can find more information about Autism and Autism Spectrum Disorders through these websites: 
</p>
<a href="http://www.autismspeaks.org"/>Autism Speaks</a><br />
<a href="http://mentalhealth.gov/health/publications/autism/complete-index.shtml"/>National Institute of Mental Health</a><br />
<a href="http://www.mayoclinic.com/health/autism/DS00348"/>Mayo Clinic</a>
