<p>
	Hunter is a 10 year old boy with autism. Since Hunter is non-verbal, he communicates chiefly through sign language. He can also communicate with his IPad. Hunter is legally blind and can only see about ten inches in front of him. He also has vision issues that it make it difficult to process images directly in front of him. Meaning, he can see objects, people or pictures best when he looks at them from the side rather than straight on. 
</p>
<p>
	Despite his vision problems, Hunter has figured out a way to see the world. He loves to take pictures and videos. He will often use these to get a clearer picture of what's around him. For example, when Hunter enters a store he is unfamaliar with he will take a picture of the inside of the store using his IPad. He can them zoom in or out to explore what's on the shelves, what's in the store that might interest him, etc. Hunter loves to document through photos the world around him. This website is a collection of some of his various photos.  
</p>
<p>
	Hunter is very intersted in colors, movement and light in particular. He loves to capture the way the light reflects off objects from all different angles. Besides taking pictures and videos, Hunter loves spending time with his family and his autism helper dog Dallas. Hunter also loves listening to music and watching videos on YouTube. 
</p>

	
