<script src="javascripts/galleria/galleria-1.2.6.min.js"></script>
<div id="gallery">
	<% @displayRecentPhotos.each do |photo| %>
		<%= image_tag image_photo_path(photo), :alt => photo.description, :width => 100 %>
	<% end %>
</div>
<script>
	Galleria.loadTheme('javascripts/galleria/themes/classic/galleria.classic.min.js');
	$("#gallery").galleria({
		width: 600,
		height: 600,
		autoplay: 5000
	});
</script>



