<h1>Archives</h1>

<%= will_paginate @list %>

<ul class="archivesList">
	<% @list.each do |photo| %>
		<li>
			<a href="<%= photo_path photo %>"/><%= image_tag image_photo_path(photo), :alt => photo.description, :width => 150 %></a>
		</li>
	<% end %>
</ul>

<%= will_paginate @list %> 

